html, body {
    position: relative;
    padding:0;
    margin:0;
    background-color: #eee;
}

#spielfeld {
    position: fixed;
    left:5px;
    top:5px;
    right:5px;
    bottom:5px;
    outline:1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
}